body {
    font-family: Arial, sans-serif;
    background-image: url('../img/planodefundologin.jpg');
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover; /* Garante que a imagem cubra todo o fundo */
    background-position: center center; /* Centraliza a imagem na tela */
}


.login-container {
    background-color: rgba(0, 0, 0, 0.0);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0);
    text-align: center;

}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc80;
    border-radius: 3px;
    font-size: 16px;
    background-color: rgba(204, 204, 204, 0.3)
}
select {
    
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc80;
    border-radius: 3px;
    font-size: 16px;
    background-color: rgba(204, 204, 204, 0.3)
}

button {
    background-color: #006400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}


.falhalogin {
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: darkred;
      padding: 10px;
      font-weight: bold;
    }